[Desktop Entry]
Name=Voidlinux Terminal (root)
Comment=Enter Voidlinux subsystem terminal as root
Exec=pkexec /bin/lsl /bin/bash
Terminal=true
Type=Application
Icon=subsystem-void
Categories=System;
