#!/usr/bin/perl
if ( $ARGV[0] eq "build" ) {
    system("make");
    system("make install DESTDIR=debian/debian-subsystem");
    system("make fix-debian DESTDIR=debian/debian-subsystem");
}
if ( $ARGV[0] eq "clean" ) {
    system("dh clean");
}
if ( $ARGV[0] eq "binary" ) {
    system("dh binary");
}
