[Desktop Entry]
Name=Subsystem Terminal (root)
Comment=Enter subsystem terminal as root
Exec=pkexec /bin/lsl /bin/bash
Terminal=true
Type=Application
Icon=subsystem
Categories=System;
