[Desktop Entry]
Name=Archlinux Terminal (root)
Comment=Enter Archlinux subsystem terminal as root
Exec=pkexec /bin/lsl /bin/bash
Terminal=true
Type=Application
Icon=subsystem-archlinux
Categories=System;
